# 8 Keyword Extraction with YAKE

In [1]:
# ! pip install -q pyspark==3.3.0 spark-nlp==4.2.0

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
spark-nlp-jsl 4.2.2 requires spark-nlp==4.2.2, but you have spark-nlp 4.2.0 which is incompatible.

In [7]:
from pyspark.sql import functions as F
from pyspark.sql.functions import lit
from pyspark.sql.types import StringType, DataType,ArrayType
from pyspark.sql.functions import udf, struct
from pyspark.ml import Pipeline
from IPython.display import display, HTML
import re

In [8]:
import sparknlp

from pyspark.ml import PipelineModel
from sparknlp.annotator import *
from sparknlp.base import *
from pyspark import SparkContext,SparkConf
from pyspark.sql import SparkSession
# spark = sparknlp.start() # for GPU training >> sparknlp.start(gpu = True) # for Spark 2.3 =>> sparknlp.start(spark23 = True)
spark = SparkSession.builder \
    .appName("Spark NLP")\
    .master("local[2]")\
    .config("spark.driver.memory","8G")\
    .config("spark.driver.maxResultSize", "0") \
    .config("spark.kryoserializer.buffer.max", "2000M")\
    .config("spark.jars.packages", "com.johnsnowlabs.nlp:spark-nlp_2.12:4.2.3,org.postgresql:postgresql:42.5.0")\
    .getOrCreate()
print("Spark NLP version", sparknlp.version())
print("Apache Spark version:", spark.version)

spark

Spark NLP version 4.2.2
Apache Spark version: 3.3.1

In [9]:
stopwords = StopWordsCleaner().getStopWords()

In [10]:
stopwords[:5]

['i', 'me', 'my', 'myself', 'we']

## YAKE Keyword Extractor

Yake is an Unsupervised, Corpus-Independent, Domain and Language-Independent and Single-Document keyword extraction algorithm.

Extracting keywords from texts has become a challenge for individuals and organizations as the information grows in complexity and size. The need to automate this task so that text can be processed in a timely and adequate manner has led to the emergence of automatic keyword extraction tools. Yake is a novel feature-based system for multi-lingual keyword extraction, which supports texts of different sizes, domain or languages. Unlike other approaches, Yake does not rely on dictionaries nor thesauri, neither is trained against any corpora. Instead, it follows an unsupervised approach which builds upon features extracted from the text, making it thus applicable to documents written in different languages without the need for further knowledge. This can be beneficial for a large number of tasks and a plethora of situations where access to training corpora is either limited or restricted.


The algorithm makes use of the position of a sentence and token. Therefore, to use the annotator, the text should be first sent through a Sentence Boundary Detector and then a tokenizer.

You can tweak the following parameters to get the best result from the annotator.

- *setMinNGrams(int)* Select the minimum length of a extracted keyword
- *setMaxNGrams(int)* Select the maximum length of a extracted keyword
- *setNKeywords(int)* Extract the top N keywords
- *setStopWords(list)* Set the list of stop words
- *setThreshold(float)* Each keyword will be given a keyword score greater than 0. (Lower the score better the keyword) Set an upper bound for the keyword score from this method.
- *setWindowSize(int)* Yake will construct a co-occurence matrix. You can set the window size for the cooccurence matrix construction from this method. ex: windowSize=2 will look at two words to both left and right of a candidate word.


<b>References</b>

Campos, R., Mangaravite, V., Pasquali, A., Jatowt, A., Jorge, A., Nunes, C. and Jatowt, A. (2020). YAKE! Keyword Extraction from Single Documents using Multiple Local Features. In Information Sciences Journal. Elsevier, Vol 509, pp 257-289. [pdf](https://doi.org/10.1016/j.ins.2019.09.013)

In [11]:
document = DocumentAssembler() \
            .setInputCol("text") \
            .setOutputCol("document")

sentenceDetector = SentenceDetector() \
            .setInputCols("document") \
            .setOutputCol("sentence")

token = Tokenizer() \
            .setInputCols("sentence") \
            .setOutputCol("token") \
            .setContextChars(["(", ")", "?", "!", ".", ","])

keywords = YakeKeywordExtraction() \
            .setInputCols("token") \
            .setOutputCol("keywords") \
            .setMinNGrams(1) \
            .setMaxNGrams(3)\
            .setNKeywords(20)\
            .setStopWords(stopwords)

yake_pipeline = Pipeline(stages=[document, sentenceDetector, token, keywords])

empty_df = spark.createDataFrame([['']]).toDF("text")

yake_Model = yake_pipeline.fit(empty_df)

In [12]:
# LightPipeline

light_model = LightPipeline(yake_Model)

text = '''
Then the LORD said, "The outcry against Sodom and Gomorrah is so great and their sin so grievous'''

light_result = light_model.fullAnnotate(text)[0]

[(s.metadata['sentence'], s.result) for s in light_result['sentence']]

[('0',
  'Then the LORD said, "The outcry against Sodom and Gomorrah is so great and their sin so grievous')]

In [13]:
light_result.keys()

dict_keys(['document', 'sentence', 'token', 'keywords'])

In [20]:
# df = spark.createDataFrame(data=light_result,schema=[['document', 'sentence', 'token', 'keywords']])
# df.printSchema()
# df.show(truncate=False)

In [12]:
# import pandas as pd

# keys_df = pd.DataFrame([(k.result, k.begin, k.end, k.metadata['score'],  k.metadata['sentence']) for k in light_result['keywords']],
#                        columns = ['keywords','begin','end','score','sentence'])
# keys_df['score'] = keys_df['score'].astype(float)

# # ordered by relevance 
# keys_df.sort_values(['sentence','score']).head(30)

                keywords  begin  end     score sentence
7               grievous     89   96  0.393326        0
8              lord said     10   18  0.440864        0
0                   lord     10   13  0.475870        0
3                  sodom     41   45  0.475870        0
4               gomorrah     51   58  0.475870        0
1                   said     15   18  0.642974        0
2                 outcry     26   31  0.642974        0
5                  great     66   70  0.642974        0
6                    sin     82   84  0.642974        0
10    sodom and gomorrah     41   58  0.907923        0
11       sin so grievous     82   96  0.953428        0
9   outcry against sodom     26   45  1.207229        0

### Getting keywords from datraframe

In [39]:
# ! wget -q https://s3.amazonaws.com/auxdata.johnsnowlabs.com/public/resources/en/pubmed/pubmed_sample_text_small.csv

df = spark.read.csv("../data/bibleNIV.csv",inferSchema=True)\
                
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: integer (nullable = true)
 |-- _c2: integer (nullable = true)
 |-- _c3: string (nullable = true)

In [40]:
df.show()

+---+---+---+--------------------+
|_c0|_c1|_c2|                 _c3|
+---+---+---+--------------------+
|  1|  1|  1|In the beginning ...|
|  1|  1|  2|Now the earth was...|
|  1|  1|  3|And God said, "Le...|
|  1|  1|  4|God saw that the ...|
|  1|  1|  5|God called the li...|
|  1|  1|  6|And God said, "Le...|
|  1|  1|  7|So God made the e...|
|  1|  1|  8|God called the ex...|
|  1|  1|  9|And God said, "Le...|
|  1|  1| 10|God called the dr...|
|  1|  1| 11|Then God said, "L...|
|  1|  1| 12|The land produced...|
|  1|  1| 13|And there was eve...|
|  1|  1| 14|And God said, "Le...|
|  1|  1| 15|and let them be l...|
|  1|  1| 16|God made two grea...|
|  1|  1| 17|God set them in t...|
|  1|  1| 18|to govern the day...|
|  1|  1| 19|And there was eve...|
|  1|  1| 20|And God said, "Le...|
+---+---+---+--------------------+
only showing top 20 rows

In [41]:
df2=df.selectExpr('_c0 as book','_c1 as chapter','_c2 as verse','_c3 as text')
df2.show()

+----+-------+-----+--------------------+
|book|chapter|verse|                text|
+----+-------+-----+--------------------+
|   1|      1|    1|In the beginning ...|
|   1|      1|    2|Now the earth was...|
|   1|      1|    3|And God said, "Le...|
|   1|      1|    4|God saw that the ...|
|   1|      1|    5|God called the li...|
|   1|      1|    6|And God said, "Le...|
|   1|      1|    7|So God made the e...|
|   1|      1|    8|God called the ex...|
|   1|      1|    9|And God said, "Le...|
|   1|      1|   10|God called the dr...|
|   1|      1|   11|Then God said, "L...|
|   1|      1|   12|The land produced...|
|   1|      1|   13|And there was eve...|
|   1|      1|   14|And God said, "Le...|
|   1|      1|   15|and let them be l...|
|   1|      1|   16|God made two grea...|
|   1|      1|   17|God set them in t...|
|   1|      1|   18|to govern the day...|
|   1|      1|   19|And there was eve...|
|   1|      1|   20|And God said, "Le...|
+----+-------+-----+--------------------+
only showing top 20 rows

In [42]:
result = yake_pipeline.fit(df2).transform(df2)

In [43]:
result = result.withColumn('unique_keywords', F.array_distinct("keywords.result"))

In [44]:
result.show()

+----+-------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|book|chapter|verse|                text|            document|            sentence|               token|            keywords|     unique_keywords|
+----+-------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|   1|      1|    1|In the beginning ...|[{document, 0, 54...|[{document, 0, 54...|[{token, 0, 1, In...|[{chunk, 7, 15, b...|[beginning, god, ...|
|   1|      1|    2|Now the earth was...|[{document, 0, 13...|[{document, 0, 13...|[{token, 0, 2, No...|[{chunk, 8, 12, e...|[earth, formless,...|
|   1|      1|    3|And God said, "Le...|[{document, 0, 55...|[{document, 0, 55...|[{token, 0, 2, An...|[{chunk, 4, 6, go...|[god, said, light...|
|   1|      1|    4|God saw that the ...|[{document, 0, 77...|[{document, 0, 77...|[{token, 0, 2, Go...|[{chunk, 0, 2, go...|[god, saw, light,...|
|   1|      1|    5|God called the li...|[{document, 0, 12...|[{document, 0, 12...|[{token, 0, 2, Go...|[{chunk, 0, 2, go...|[god, called, lig...|
|   1|      1|    6|And God said, "Le...|[{document, 0, 87...|[{document, 0, 87...|[{token, 0, 2, An...|[{chunk, 4, 6, go...|[god, said, expan...|
|   1|      1|    7|So God made the e...|[{document, 0, 10...|[{document, 0, 89...|[{token, 0, 1, So...|[{chunk, 3, 5, go...|[god, made, expan...|
|   1|      1|    8|God called the ex...|[{document, 0, 90...|[{document, 0, 90...|[{token, 0, 2, Go...|[{chunk, 0, 2, go...|[god, called, exp...|
|   1|      1|    9|And God said, "Le...|[{document, 0, 11...|[{document, 0, 11...|[{token, 0, 2, An...|[{chunk, 4, 6, go...|[god, said, water...|
|   1|      1|   10|God called the dr...|[{document, 0, 10...|[{document, 0, 10...|[{token, 0, 2, Go...|[{chunk, 0, 2, go...|[god, called, dry...|
|   1|      1|   11|Then God said, "L...|[{document, 0, 17...|[{document, 0, 15...|[{token, 0, 3, Th...|[{chunk, 5, 7, go...|[god, said, land,...|
|   1|      1|   12|The land produced...|[{document, 0, 16...|[{document, 0, 13...|[{token, 0, 2, Th...|[{chunk, 4, 7, la...|[land, produced, ...|
|   1|      1|   13|And there was eve...|[{document, 0, 59...|[{document, 0, 59...|[{token, 0, 2, An...|[{chunk, 14, 20, ...|[evening, third, ...|
|   1|      1|   14|And God said, "Le...|[{document, 0, 15...|[{document, 0, 15...|[{token, 0, 2, An...|[{chunk, 4, 6, go...|[god, said, light...|
|   1|      1|   15|and let them be l...|[{document, 0, 91...|[{document, 0, 75...|[{token, 0, 2, an...|[{chunk, 4, 6, le...|[let, lights, exp...|
|   1|      1|   16|God made two grea...|[{document, 0, 12...|[{document, 0, 10...|[{token, 0, 2, Go...|[{chunk, 0, 2, go...|[god, made, two, ...|
|   1|      1|   17|God set them in t...|[{document, 0, 65...|[{document, 0, 65...|[{token, 0, 2, Go...|[{chunk, 0, 2, go...|[god, set, expans...|
|   1|      1|   18|to govern the day...|[{document, 0, 98...|[{document, 0, 68...|[{token, 0, 1, to...|[{chunk, 3, 8, go...|[govern, day, nig...|
|   1|      1|   19|And there was eve...|[{document, 0, 60...|[{document, 0, 60...|[{token, 0, 2, An...|[{chunk, 14, 20, ...|[evening, fourth,...|
|   1|      1|   20|And God said, "Le...|[{document, 0, 12...|[{document, 0, 12...|[{token, 0, 2, An...|[{chunk, 4, 6, go...|[god, said, water...|
+----+-------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [20]:
def highlight(text, keywords):
    for k in keywords:
        text = (re.sub(r'(\b%s\b)'%k, r'<span style="background-color: yellow;">\1</span>', text, flags=re.IGNORECASE))
    return text

In [21]:
highlight_udf = udf(highlight, StringType())

In [45]:
result = result.withColumn("highlighted_keywords",highlight_udf('text','unique_keywords'))

In [46]:
result.printSchema()

root
 |-- book: integer (nullable = true)
 |-- chapter: integer (nullable = true)
 |-- verse: integer (nullable = true)
 |-- text: string (nullable = true)
 |-- document: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- annotatorType: string (nullable = true)
 |    |    |-- begin: integer (nullable = false)
 |    |    |-- end: integer (nullable = false)
 |    |    |-- result: string (nullable = true)
 |    |    |-- metadata: map (nullable = true)
 |    |    |    |-- key: string
 |    |    |    |-- value: string (valueContainsNull = true)
 |    |    |-- embeddings: array (nullable = true)
 |    |    |    |-- element: float (containsNull = false)
 |-- sentence: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- annotatorType: string (nullable = true)
 |    |    |-- begin: integer (nullable = false)
 |    |    |-- end: integer (nullable = false)
 |    |    |-- result: string (nullable = true)
 |    |    |-- metadata: map (nullable = true)
 |    |    |    |-- key: string
 |    |    |    |-- value: string (valueContainsNull = true)
 |    |    |-- embeddings: array (nullable = true)
 |    |    |    |-- element: float (containsNull = false)
 |-- token: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- annotatorType: string (nullable = true)
 |    |    |-- begin: integer (nullable = false)
 |    |    |-- end: integer (nullable = false)
 |    |    |-- result: string (nullable = true)
 |    |    |-- metadata: map (nullable = true)
 |    |    |    |-- key: string
 |    |    |    |-- value: string (valueContainsNull = true)
 |    |    |-- embeddings: array (nullable = true)
 |    |    |    |-- element: float (containsNull = false)
 |-- keywords: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- annotatorType: string (nullable = true)
 |    |    |-- begin: integer (nullable = false)
 |    |    |-- end: integer (nullable = false)
 |    |    |-- result: string (nullable = true)
 |    |    |-- metadata: map (nullable = true)
 |    |    |    |-- key: string
 |    |    |    |-- value: string (valueContainsNull = true)
 |    |    |-- embeddings: array (nullable = true)
 |    |    |    |-- element: float (containsNull = false)
 |-- unique_keywords: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- highlighted_keywords: string (nullable = true)

In [47]:
result.write.mode('overwrite').json('bibleKeyword.json')

In [27]:
# pandas_df=result.selectExpr('text','unique_keywords').pandas_api()
# pandas_df.head()

In [48]:
result_db=result.selectExpr('book','chapter','verse','text','unique_keywords')

In [49]:
result_db.show()

+----+-------+-----+--------------------+--------------------+
|book|chapter|verse|                text|     unique_keywords|
+----+-------+-----+--------------------+--------------------+
|   1|      1|    1|In the beginning ...|[beginning, god, ...|
|   1|      1|    2|Now the earth was...|[earth, formless,...|
|   1|      1|    3|And God said, "Le...|[god, said, light...|
|   1|      1|    4|God saw that the ...|[god, saw, light,...|
|   1|      1|    5|God called the li...|[god, called, lig...|
|   1|      1|    6|And God said, "Le...|[god, said, expan...|
|   1|      1|    7|So God made the e...|[god, made, expan...|
|   1|      1|    8|God called the ex...|[god, called, exp...|
|   1|      1|    9|And God said, "Le...|[god, said, water...|
|   1|      1|   10|God called the dr...|[god, called, dry...|
|   1|      1|   11|Then God said, "L...|[god, said, land,...|
|   1|      1|   12|The land produced...|[land, produced, ...|
|   1|      1|   13|And there was eve...|[evening, third, ...|
|   1|      1|   14|And God said, "Le...|[god, said, light...|
|   1|      1|   15|and let them be l...|[let, lights, exp...|
|   1|      1|   16|God made two grea...|[god, made, two, ...|
|   1|      1|   17|God set them in t...|[god, set, expans...|
|   1|      1|   18|to govern the day...|[govern, day, nig...|
|   1|      1|   19|And there was eve...|[evening, fourth,...|
|   1|      1|   20|And God said, "Le...|[god, said, water...|
+----+-------+-----+--------------------+--------------------+
only showing top 20 rows

### get bible book names

In [38]:
bibleBooks=spark.read.csv('../data/bibleBooks.csv',header=True,inferSchema=True)
bibleBooks.show()

+------+------+------------+-------------+------+
|BookID|OsisID|    BookName|TotalChapters|Volume|
+------+------+------------+-------------+------+
|     1|   Gen|     Genesis|           50|    OT|
|     2|  Exod|      Exodus|           40|    OT|
|     3|   Lev|   Leviticus|           27|    OT|
|     4|   Num|     Numbers|           36|    OT|
|     5|  Deut| Deuteronomy|           34|    OT|
|     6|  Josh|      Joshua|           24|    OT|
|     7|  Judg|      Judges|           21|    OT|
|     8|  Ruth|        Ruth|            4|    OT|
|     9|  1Sam|    1 Samuel|           31|    OT|
|    10|  2Sam|    2 Samuel|           24|    OT|
|    11|  1Kgs|     1 Kings|           22|    OT|
|    12|  2Kgs|     2 Kings|           25|    OT|
|    13|  1Chr|1 Chronicles|           29|    OT|
|    14|  2Chr|2 Chronicles|           36|    OT|
|    15|  Ezra|        Ezra|           10|    OT|
|    16|   Neh|    Nehemiah|           13|    OT|
|    17|  Esth|      Esther|           10|    OT|
|    18|   Job|         Job|           42|    OT|
|    19|    Ps|      Psalms|          150|    OT|
|    20|  Prov|    Proverbs|           31|    OT|
+------+------+------------+-------------+------+
only showing top 20 rows

In [50]:
result_db.printSchema()

root
 |-- book: integer (nullable = true)
 |-- chapter: integer (nullable = true)
 |-- verse: integer (nullable = true)
 |-- text: string (nullable = true)
 |-- unique_keywords: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [59]:
df_join = result_db.join(bibleBooks, result_db.book ==bibleBooks.BookID, how="inner").drop('BookID')
df_join.show()

+----+-------+-----+--------------------+--------------------+------+--------+-------------+------+
|book|chapter|verse|                text|     unique_keywords|OsisID|BookName|TotalChapters|Volume|
+----+-------+-----+--------------------+--------------------+------+--------+-------------+------+
|   1|      1|    1|In the beginning ...|[beginning, god, ...|   Gen| Genesis|           50|    OT|
|   1|      1|    2|Now the earth was...|[earth, formless,...|   Gen| Genesis|           50|    OT|
|   1|      1|    3|And God said, "Le...|[god, said, light...|   Gen| Genesis|           50|    OT|
|   1|      1|    4|God saw that the ...|[god, saw, light,...|   Gen| Genesis|           50|    OT|
|   1|      1|    5|God called the li...|[god, called, lig...|   Gen| Genesis|           50|    OT|
|   1|      1|    6|And God said, "Le...|[god, said, expan...|   Gen| Genesis|           50|    OT|
|   1|      1|    7|So God made the e...|[god, made, expan...|   Gen| Genesis|           50|    OT|
|   1|      1|    8|God called the ex...|[god, called, exp...|   Gen| Genesis|           50|    OT|
|   1|      1|    9|And God said, "Le...|[god, said, water...|   Gen| Genesis|           50|    OT|
|   1|      1|   10|God called the dr...|[god, called, dry...|   Gen| Genesis|           50|    OT|
|   1|      1|   11|Then God said, "L...|[god, said, land,...|   Gen| Genesis|           50|    OT|
|   1|      1|   12|The land produced...|[land, produced, ...|   Gen| Genesis|           50|    OT|
|   1|      1|   13|And there was eve...|[evening, third, ...|   Gen| Genesis|           50|    OT|
|   1|      1|   14|And God said, "Le...|[god, said, light...|   Gen| Genesis|           50|    OT|
|   1|      1|   15|and let them be l...|[let, lights, exp...|   Gen| Genesis|           50|    OT|
|   1|      1|   16|God made two grea...|[god, made, two, ...|   Gen| Genesis|           50|    OT|
|   1|      1|   17|God set them in t...|[god, set, expans...|   Gen| Genesis|           50|    OT|
|   1|      1|   18|to govern the day...|[govern, day, nig...|   Gen| Genesis|           50|    OT|
|   1|      1|   19|And there was eve...|[evening, fourth,...|   Gen| Genesis|           50|    OT|
|   1|      1|   20|And God said, "Le...|[god, said, water...|   Gen| Genesis|           50|    OT|
+----+-------+-----+--------------------+--------------------+------+--------+-------------+------+
only showing top 20 rows

In [65]:
from pyspark.sql.functions import concat_ws,col
df3=df_join.select(concat_ws('_',df_join.OsisID,df_join.chapter,df_join.verse)
              .alias("ID"),'*')
df3.show()

+--------+----+-------+-----+--------------------+--------------------+------+--------+-------------+------+
|      ID|book|chapter|verse|                text|     unique_keywords|OsisID|BookName|TotalChapters|Volume|
+--------+----+-------+-----+--------------------+--------------------+------+--------+-------------+------+
| Gen_1_1|   1|      1|    1|In the beginning ...|[beginning, god, ...|   Gen| Genesis|           50|    OT|
| Gen_1_2|   1|      1|    2|Now the earth was...|[earth, formless,...|   Gen| Genesis|           50|    OT|
| Gen_1_3|   1|      1|    3|And God said, "Le...|[god, said, light...|   Gen| Genesis|           50|    OT|
| Gen_1_4|   1|      1|    4|God saw that the ...|[god, saw, light,...|   Gen| Genesis|           50|    OT|
| Gen_1_5|   1|      1|    5|God called the li...|[god, called, lig...|   Gen| Genesis|           50|    OT|
| Gen_1_6|   1|      1|    6|And God said, "Le...|[god, said, expan...|   Gen| Genesis|           50|    OT|
| Gen_1_7|   1|      1|    7|So God made the e...|[god, made, expan...|   Gen| Genesis|           50|    OT|
| Gen_1_8|   1|      1|    8|God called the ex...|[god, called, exp...|   Gen| Genesis|           50|    OT|
| Gen_1_9|   1|      1|    9|And God said, "Le...|[god, said, water...|   Gen| Genesis|           50|    OT|
|Gen_1_10|   1|      1|   10|God called the dr...|[god, called, dry...|   Gen| Genesis|           50|    OT|
|Gen_1_11|   1|      1|   11|Then God said, "L...|[god, said, land,...|   Gen| Genesis|           50|    OT|
|Gen_1_12|   1|      1|   12|The land produced...|[land, produced, ...|   Gen| Genesis|           50|    OT|
|Gen_1_13|   1|      1|   13|And there was eve...|[evening, third, ...|   Gen| Genesis|           50|    OT|
|Gen_1_14|   1|      1|   14|And God said, "Le...|[god, said, light...|   Gen| Genesis|           50|    OT|
|Gen_1_15|   1|      1|   15|and let them be l...|[let, lights, exp...|   Gen| Genesis|           50|    OT|
|Gen_1_16|   1|      1|   16|God made two grea...|[god, made, two, ...|   Gen| Genesis|           50|    OT|
|Gen_1_17|   1|      1|   17|God set them in t...|[god, set, expans...|   Gen| Genesis|           50|    OT|
|Gen_1_18|   1|      1|   18|to govern the day...|[govern, day, nig...|   Gen| Genesis|           50|    OT|
|Gen_1_19|   1|      1|   19|And there was eve...|[evening, fourth,...|   Gen| Genesis|           50|    OT|
|Gen_1_20|   1|      1|   20|And God said, "Le...|[god, said, water...|   Gen| Genesis|           50|    OT|
+--------+----+-------+-----+--------------------+--------------------+------+--------+-------------+------+
only showing top 20 rows

In [72]:
# df3.write.mode('overwrite').json('bibleKeyword2.json')
df3.write.parquet('bibleKeyword2.parquet')

In [70]:
# pgDF=spark.read.format("jdbc").\
#     option("url", "jdbc:postgresql://192.168.1.39:5432/aiknowledge").\
#     option("dbtable", "public.articles_articles").\
#     option("user", "postgres").\
#     option("password", "postgres").\
#     option("driver", "org.postgresql.Driver").load()    
df3.write.format("jdbc")\
    .option("url", "jdbc:postgresql://192.168.0.8:5432/aiknowledge")\
    .option("dbtable", "public.bible")\
    .option("user", "postgres")\
    .option("password", "postgres")\
    .option("driver", "org.postgresql.Driver") \
    .mode("overwrite").save()

In [69]:
df3.select('*').where('chapter=1 and verse=1').show(100)

+----------+----+-------+-----+--------------------+--------------------+------+---------------+-------------+------+
|        ID|book|chapter|verse|                text|     unique_keywords|OsisID|       BookName|TotalChapters|Volume|
+----------+----+-------+-----+--------------------+--------------------+------+---------------+-------------+------+
|   Gen_1_1|   1|      1|    1|In the beginning ...|[beginning, god, ...|   Gen|        Genesis|           50|    OT|
|  Exod_1_1|   2|      1|    1|These are the nam...|[names, sons, isr...|  Exod|         Exodus|           40|    OT|
|   Lev_1_1|   3|      1|    1|The LORD called t...|[lord, called, mo...|   Lev|      Leviticus|           27|    OT|
|   Num_1_1|   4|      1|    1|The LORD spoke to...|[lord, spoke, mos...|   Num|        Numbers|           36|    OT|
|  Deut_1_1|   5|      1|    1|These are the wor...|[words, moses, sp...|  Deut|    Deuteronomy|           34|    OT|
|  Josh_1_1|   6|      1|    1|After the death o...|[death, moses, se...|  Josh|         Joshua|           24|    OT|
|  Judg_1_1|   7|      1|    1|After the death o...|[death, joshua, i...|  Judg|         Judges|           21|    OT|
|  Ruth_1_1|   8|      1|    1|In the days when ...|[days, judges, ru...|  Ruth|           Ruth|            4|    OT|
|  1Sam_1_1|   9|      1|    1|There was a certa...|[certain, man, ra...|  1Sam|       1 Samuel|           31|    OT|
|  2Sam_1_1|  10|      1|    1|After the death o...|[death, saul, dav...|  2Sam|       2 Samuel|           24|    OT|
|  1Kgs_1_1|  11|      1|    1|When King David w...|[king, david, old...|  1Kgs|        1 Kings|           22|    OT|
|  2Kgs_1_1|  12|      1|    1|After Ahab's deat...|[death, moab, reb...|  2Kgs|        2 Kings|           25|    OT|
|  1Chr_1_1|  13|      1|    1|  Adam, Seth, Enosh,| [adam, seth, enosh]|  1Chr|   1 Chronicles|           29|    OT|
|  2Chr_1_1|  14|      1|    1|Solomon son of Da...|[solomon, son, da...|  2Chr|   2 Chronicles|           36|    OT|
|  Ezra_1_1|  15|      1|    1|In the first year...|[year, cyrus, kin...|  Ezra|           Ezra|           10|    OT|
|   Neh_1_1|  16|      1|    1|The words of Nehe...|[words, nehemiah,...|   Neh|       Nehemiah|           13|    OT|
|  Esth_1_1|  17|      1|    1|This is what happ...|[happened, time, ...|  Esth|         Esther|           10|    OT|
|   Job_1_1|  18|      1|    1|In the land of Uz...|[land, uz, lived,...|   Job|            Job|           42|    OT|
|    Ps_1_1|  19|      1|    1|Blessed is the ma...|[blessed, man, wa...|    Ps|         Psalms|          150|    OT|
|  Prov_1_1|  20|      1|    1|The proverbs of S...|[proverbs, solomo...|  Prov|       Proverbs|           31|    OT|
|  Eccl_1_1|  21|      1|    1|The words of the ...|[words, teacher, ...|  Eccl|   Ecclesiastes|           12|    OT|
|  Song_1_1|  22|      1|    1|Solomon's Song of...|[song, songs, son...|  Song|Song of Solomon|            8|    OT|
|   Isa_1_1|  23|      1|    1|The vision concer...|[vision, concerni...|   Isa|         Isaiah|           66|    OT|
|   Jer_1_1|  24|      1|    1|The words of Jere...|[words, jeremiah,...|   Jer|       Jeremiah|           52|    OT|
|   Lam_1_1|  25|      1|    1|How deserted lies...|[deserted, lies, ...|   Lam|   Lamentations|            5|    OT|
|  Ezek_1_1|  26|      1|    1|In the thirtieth ...|[thirtieth, year,...|  Ezek|        Ezekiel|           48|    OT|
|   Dan_1_1|  27|      1|    1|In the third year...|[third, year, rei...|   Dan|         Daniel|           12|    OT|
|   Hos_1_1|  28|      1|    1|The word of the L...|[lord, came, hose...|   Hos|          Hosea|           14|    OT|
|  Joel_1_1|  29|      1|    1|The word of the L...|[word, lord, came...|  Joel|           Joel|            3|    OT|
|  Amos_1_1|  30|      1|    1|The words of Amos...|[amos, one, conce...|  Amos|           Amos|            9|    OT|
|  Obad_1_1|  31|      1|    1|The vision of Oba...|[vision, obadiah,...|  Obad|        Obadiah|            1|    OT|
| Jonah_1_1|  32|      1|    1|The word of the L...|[word, lord, came...| Jonah|          Jonah|            4|    OT|
|   Mic_1_1|  33|      1|    1|The word of the L...|[word, lord, came...|   Mic|          Micah|            7|    OT|
|   Nah_1_1|  34|      1|    1|An oracle concern...|[oracle, concerni...|   Nah|          Nahum|            3|    OT|
|   Hab_1_1|  35|      1|    1|The oracle that H...|[oracle, habakkuk...|   Hab|       Habakkuk|            3|    OT|
|  Zeph_1_1|  36|      1|    1|The word of the L...|[lord, came, zeph...|  Zeph|      Zephaniah|            3|    OT|
|   Hag_1_1|  37|      1|    1|In the second yea...|[king, darius, si...|   Hag|         Haggai|            2|    OT|
|  Zech_1_1|  38|      1|    1|In the eighth mon...|[eighth, month, s...|  Zech|      Zechariah|           14|    OT|
|   Mal_1_1|  39|      1|    1|An oracle: The wo...|[word, lord, isra...|   Mal|        Malachi|            4|    OT|
|  Matt_1_1|  40|      1|    1|A record of the g...|[record, genealog...|  Matt|        Matthew|           28|    NT|
|  Mark_1_1|  41|      1|    1|The beginning of ...|[beginning, gospe...|  Mark|           Mark|           16|    NT|
|  Luke_1_1|  42|      1|    1|Many have underta...|[many, undertaken...|  Luke|           Luke|           24|    NT|
|  John_1_1|  43|      1|    1|In the beginning ...|[beginning, word,...|  John|           John|           21|    NT|
|  Acts_1_1|  44|      1|    1|In my former book...|[former, book, th...|  Acts|           Acts|           28|    NT|
|   Rom_1_1|  45|      1|    1|Paul, a servant o...|[paul, servant, c...|   Rom|         Romans|           16|    NT|
|  1Cor_1_1|  46|      1|    1|Paul, called to b...|[paul, called, ap...|  1Cor|  1 Corinthians|           16|    NT|
|  2Cor_1_1|  47|      1|    1|Paul, an apostle ...|[paul, apostle, c...|  2Cor|  2 Corinthians|           13|    NT|
|   Gal_1_1|  48|      1|    1|Paul, an apostle-...|[paul, men, man, ...|   Gal|      Galatians|            6|    NT|
|   Eph_1_1|  49|      1|    1|Paul, an apostle ...|[paul, apostle, c...|   Eph|      Ephesians|            6|    NT|
|  Phil_1_1|  50|      1|    1|Paul and Timothy,...|[paul, timothy, s...|  Phil|    Philippians|            4|    NT|
|   Col_1_1|  51|      1|    1|Paul, an apostle ...|[paul, apostle, c...|   Col|     Colossians|            4|    NT|
|1Thess_1_1|  52|      1|    1|Paul, Silas and T...|[paul, silas, tim...|1Thess|1 Thessalonians|            5|    NT|
|2Thess_1_1|  53|      1|    1|Paul, Silas and T...|[paul, silas, tim...|2Thess|2 Thessalonians|            3|    NT|
|  1Tim_1_1|  54|      1|    1|Paul, an apostle ...|[paul, apostle, c...|  1Tim|      1 Timothy|            6|    NT|
|  2Tim_1_1|  55|      1|    1|Paul, an apostle ...|[paul, apostle, c...|  2Tim|      2 Timothy|            4|    NT|
| Titus_1_1|  56|      1|    1|Paul, a servant o...|[paul, servant, g...| Titus|          Titus|            3|    NT|
|  Phim_1_1|  57|      1|    1|Paul, a prisoner ...|[paul, prisoner, ...|  Phim|       Philemon|            1|    NT|
|   Heb_1_1|  58|      1|    1|In the past God s...|[past, god, spoke...|   Heb|        Hebrews|           13|    NT|
|   Jas_1_1|  59|      1|    1|James, a servant ...|[james, servant, ...|   Jas|          James|            5|    NT|
|  1Pet_1_1|  60|      1|    1|Peter, an apostle...|[peter, apostle, ...|  1Pet|        1 Peter|            5|    NT|
|  2Pet_1_1|  61|      1|    1|Simon Peter, a se...|[simon, peter, se...|  2Pet|        2 Peter|            3|    NT|
| 1John_1_1|  62|      1|    1|That which was fr...|[beginning, heard...| 1John|         1 John|            5|    NT|
| 2John_1_1|  63|      1|    1|The elder, To the...|[elder, chosen, l...| 2John|         2 John|            1|    NT|
| 3John_1_1|  64|      1|    1|The elder, To my ...|[elder, dear, fri...| 3John|         3 John|            1|    NT|
|  Jude_1_1|  65|      1|    1|Jude, a servant o...|[jude, servant, j...|  Jude|           Jude|            1|    NT|
|   Rev_1_1|  66|      1|    1|The revelation of...|[revelation, jesu...|   Rev|     Revelation|           22|    NT|
+----------+----+-------+-----+--------------------+--------------------+------+---------------+-------------+------+

In [34]:
for r in result.select("highlighted_keywords").limit(10).collect():
    display(HTML(r.highlighted_keywords))
    print("\n\n")

In [22]:
from neo4j import GraphDatabase
import time
from tqdm import tqdm

In [23]:
from py2neo import Graph
graph = Graph("neo4j://localhost:7687", auth=("daniel", "fighting"),name="aiknowledge")
graph.run("UNWIND range(1, 3) AS n RETURN n, n * n as n_sq")

 n | n_sq
---|------
 1 |    1
 2 |    4
 3 |    9

In [53]:
# from py2neo import Graph, Node, Relationship
# for word in keywords_bible2:
#     graph.create(Node("bible",name = word))

22/11/18 21:31:13 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 1699617 ms exceeds timeout 120000 ms
22/11/18 21:31:13 WARN SparkContext: Killing executors is not supported by current scheduler.

In [25]:
# const_ners = 'CREATE CONSTRAINT ners IF NOT EXISTS ON (n:NER) ASSERT n.name IS UNIQUE'
# graph.run(const_ners)

(No data)

In [39]:
spark.stop()